* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

/* header */

header {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border: 2px solid black;
  margin: 5px;
}

.menu-title {
  font-size: 20px;
  padding: 15px;
}

.menu-options {
  display: flex;
}

.menu-item {
  padding: 15px;
}

.divider {
  color: gray;
}

.menu-options {
  list-style: none;
  display: flex;
  cursor: pointer;
}

/* list */

.book-list {
  width: 70%;
  margin: auto;
}

.books {
  border: 1px solid black;
  margin: 20px 0;
}

ul.books li:nth-child(odd) {
  background-color: rgb(201, 199, 199);
}

.new-book {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 15px;
}

.remove {
  border: 1px solid black;
  padding: 7px;
  background-color: white;
}

/* display: none */

.none {
  display: none;
}